@import '/styles/variables';

.container{
  margin: 0 auto;
}
.fake__header{
  height: 48px;
}
.header{
  background-color: $mainGray;
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  max-height: 48px;
  border-bottom: 1px solid $separatorGray;
  z-index: 100;
}
.nav{
  margin: 0 80px;

  &_list{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_item{
    padding: 15px 30px;
  }
}
