$darkPurple: #0C0032;
$lightDarkPurple: #190061;
$mediumPurple: #240090;
$lightPurple: #3500D3;
$gray: #282828;

$backgroundGray: #141414;
$mainGray: #222222;
$lightGray: #333333;
$separatorGray: #424242;
$button: #484848;

$textWhite: white;
$textGray: rgba(255, 255, 255, 0.7);